.card {
  border-bottom: 1px solid @color-card-line;
}

.card__heading {
  font-size: 17px;
  line-height: 24px;
}

.card__link-title {
  color: @black;
}

.card__description {
  font-size: 13px;
  line-height: 30px;
  color: @black-light;
}

.card__price {
  font-size: 15px;
  line-height: 24px;
}
