.cards {
  .padding-y(31px; 32px);
}

.cards__item {
  width: 100%;
  margin: 0 auto;

  @media (min-width: 400px) and (max-width: @tablet-width - 1px) {
    width: 340px;
  }

  @media (max-width: @tablet-width - 1px) {
    &:not(:last-child) {
      margin-bottom: 31px;
    }
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
  .cards {
    .padding-y(68px; 54px);
  }

  .cards__item {
    width: 668px;

    &:not(:last-child) {
      margin-bottom: 54px;
    }
  }
}

@media (min-width: @desktop-width) {
  .cards {
    .flex();
    .padding-y(115px; 0);
  }

  .cards__item {
    width: 316px;
    margin: 0 0 57px 0;

    &:not(:nth-child(3n+3)) {
      margin-right: 51px;
    }
  }
}
