.card {
  .flex();
  align-items: center;
}

.card__link-img {
  display: block;
  max-height: 195px;
}

.card__wrapper {
  width: 260px;
  padding: 27px 28px 0 28px;
  border: 1px solid @color-card-line;
}

.card__heading {
  margin: 0 0 6px 0;
  .text(17px; 24px);
}

.card__link-title {
  color: @black;
}

.card__description {
  margin: 0 0 16px 0;
  .text(13px; 30px);
  color: @black-light;
}

.card__buy {
  .flex();
  justify-content: space-between;
  align-items: center;
  min-height: 73px;
  border-top: 1px solid @color-card-line;
}

.card__price {
  max-width: 80%;
  padding: 10px 0;
  .text(15px; 24px);
}

.card__cart {
  display: block;
  margin-right: -2px;
}

@media (max-width: @tablet-width - 1px), (min-width: @desktop-width) {
  .card {
    flex-direction: column;
  }
}

@media (min-width: @tablet-width) {
  .card {
    align-items: stretch;
  }

  .card__link-img {
    width: 334px;
    max-height: 334px;
  }

  .card__wrapper {
    flex-grow: 1;
    .flex();
    flex-direction: column;
    padding-left: 32px;
  }

  .card__heading {
    font-size: 20px;
  }

  .card__description {
    font-size: 15px;
    padding-bottom: 10px;
    margin-bottom: auto;
  }

  .card__buy {
    width: 268px;
  }

  .card__price {
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .card__link-img {
    width: 316px;
    max-height: 462px;
  }

  .card__wrapper {
    width: 100%;
    min-height: 197px;
    padding-top: 26px;
    padding-left: 26px;
  }

  .card__buy {
    width: 256px;
  }
}
