.catalog-nav {
  .reset-list();
  .text(19px; 24px);
  font-weight: 700;
}

.catalog-nav__item:nth-child(odd) {
  background-color: @green-light;
}

.catalog-nav__item:nth-child(even) {
  background-color: @green-dark;
}

.catalog-nav__link {
  display: block;
  color: @white;
}
