.catalog-nav {
  max-width: @desktop-width;
  .text(19px; 24px);
  font-weight: 700;

  @media (min-width: @tablet-width) {
    .flex();
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    min-width: @desktop-width;
  }
}

.catalog-nav__item {
  position: relative;

  &:nth-child(odd) {
    background-color: @green-light-hover;

    .catalog-nav__link {
      background-color: @green-light;

      &:hover {
        background-color: @green-light-hover;
      }
    }
  }

  &:nth-child(even) {
    background-color: @green-dark-hover;

    .catalog-nav__link {
      background-color: @green-dark;

      &:hover {
        background-color: @green-dark-hover;
      }
    }
  }

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.catalog-nav__link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 24px 120px 31px 30px;
  color: @white;

  &::after {
    .pseudo();
    opacity: 0.5;
  }

  &--interior::after {
    top: 23px;
    right: 35px;
    .block-size(40px; 62px);
    background-image: url("../img/interior.svg");
  }

  &--toy::after {
    top: 21px;
    right: 27px;
    .block-size(60px; 60px);
    background-image: url("../img/toy.svg");
  }

  &:hover {
    transform: translateY(-5px);

    &::after {
      opacity: 0.7;
    }
  }

  &:active::after {
    opacity: 0.3;
  }

  &:focus {
    outline: none;

    &:not(:hover):not(:active) {
      color: @white;
      background-color: lighten(@black-light, 30%);
      opacity: 1;
    }
  }

  @media (min-width: @tablet-width) {
    .text(20px; 30px);
    padding: 25px 120px 34px 36px;

    &--interior::after {
      top: 30px;
      right: 37px;
    }

    &--toy::after {
      top: 32px;
      right: 34px;
    }
  }
}
