@media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
  .featured__card {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 42px;
  }

  .featured__header {
    grid-column: span 2;
    grid-row: span 1;
    .flex();
    justify-content: space-between;
  }

  .featured__img {
    grid-row: span 2;
  }
}

@media (min-width: @desktop-width) {
  .featured__card {
    display: grid;
    grid-template-columns: 1fr 525px;
    grid-template-rows: auto auto auto;
    grid-column-gap: 58px;
  }

  .featured__header {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    .flex();
  }

  .featured__heading {
    order: 2;
  }

  .featured__wrapper,
  .featured__footer {
    padding-left: 175px;
  }

  .featured__img {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

.featured__info {
  line-height: 20px;
  font-weight: 700;
  color: @green-light;
}

.featured__description {
  .text(15px; 24px);
  color: @black-light;
}

.featured__properties {
  .text(15px; 20px);
  color: @black-light;
}

.featured__price {
  line-height: 24px;
  color: @black-light;
}
