.featured__info {
  line-height: 20px;
  font-weight: 700;
  color: @green-light;
}

.featured__description {
  font-size: 15px;
  line-height: 24px;
  color: @black-light;
}

.featured__properties {
  font-size: 15px;
  line-height: 20px;
  color: @black-light;
}

.featured__price {
  line-height: 24px;
  color: @black-light;
}
