.featured__info {
  line-height: 20px;
  font-weight: 700;
  color: @green-light;
}

.featured__description {
  .text(15px; 24px);
  color: @black-light;
}

.featured__properties {
  .text(15px; 20px);
  color: @black-light;
}

.featured__price {
  line-height: 24px;
  color: @black-light;
}
