.form__list {
  .reset-list();
}

.form__legend {
  line-height: 16px;
  font-weight: 700;
  color: @green-light;
}

.form__control {
  font-family: @font-family;
  .text(17px; 18px);
}

.form__label {
  font-weight: 700;
}

.form__footnote {
  .text(14px; 16px);
  color: @black-light;
}

.form__submit {
  .text(17px; 16px);
}
