.main-nav {
  font-family: @font-family;
  line-height: 24px;
  font-weight: 700;
}

.main-nav__wrapper {
  @media (max-width: @tablet-width - 1px) {
    padding: 0 30px;
    text-align: center;
  }
}

.main-nav__logo {
  display: block;
}

.main-nav__logo img {
  width: 86px;
  height: 35px;
}

.main-nav__list {
  .reset-list();

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
    font-size: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 30px;
  }
}

.main-nav__link {
  @media (max-width: @mobile-width + 10px) {
    padding: 29px 30px 27px 77px;
  }

  @media (min-width: @mobile-width + 10px) and (max-width: @tablet-width - 1px) {
    padding: 29px 30px 27px 30px;
    text-align: center;
  }

  @media (max-width: @tablet-width - 1px) {
    box-shadow:
      0 1px 0 @color-card-line,
      inset 0 1px 0 @color-card-line;
  }
}

.main-nav__cart {
  margin: 0;
}

.main-nav__extra-info {
  display: none;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 84px auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "logo logo search cart"
      "nav nav nav info";
  }

  .main-nav__wrapper {
    grid-area: logo;
    width: 200px;
  }

  .main-nav__logo img {
    width: 114px;
    height: 46px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    grid-area: nav;
  }

  .main-nav__search {
    grid-area: search;
  }

  .main-nav__cart {
    grid-area: cart;
  }

  .main-nav__extra-info {
    display: block;
    grid-area: info;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: grid;
    grid-template-columns: 450px 1fr 84px auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "nav logo search cart"
      "nav logo . info";
  }

  .main-nav__logo img {
    width: 149px;
    height: 72px;
  }

  .main-nav__link {
    @media (min-width: @desktop-width) {
      padding: 32px 0;
    }
  }
}
