.main-nav {
  font-family: @font-family;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    .flex();
    align-items: flex-start;
  }
}

.main-nav__wrapper {
  @media (max-width: @tablet-width - 1px) {
    padding: 0 30px;
    text-align: center;
  }

  @media (min-width: @tablet-width) {
    width: 270px;
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
    order: 1;
    width: 200px;
  }
}

.main-nav__logo {
  max-width: 100%;
}

.main-nav__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__list {
  .reset-list();

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
    font-size: 15px;
    order: 4;
    width: 60%;
  }

  @media (min-width: @desktop-width) {
    order: 0;
    width: 40%;
    margin-right: 30px;
  }
}

.main-nav__link {
  @media (max-width: @mobile-width + 10px) {
    padding: 29px 30px 27px 77px;
  }

  @media (min-width: @mobile-width + 10px) and (max-width: @tablet-width - 1px) {
    padding: 29px 30px 27px 30px;
    text-align: center;
  }

  @media (max-width: @tablet-width - 1px) {
    box-shadow:
      0 1px 0 @color-card-line,
      inset 0 1px 0 @color-card-line;
  }

  @media (min-width: @desktop-width) {
    padding: 32px 0;
  }
}

.main-nav__search {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.main-nav__cart {
  margin: 0;

  @media (min-width: @tablet-width) {
    order: 3;
  }
}

.main-nav__extra-info {
  display: none;
  margin: 0;
  text-align: right;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    right: 50px;
    bottom: 0;
  }
}
