.map {
  position: relative;
  .block-size(100%; 454px);

  @media (min-width: @tablet-width) {
    height: 457px;
  }

  @media (min-width: @desktop-width) {
    .block-size(527px; 400px);
  }
}

.map__item {
  position: absolute;
  top: 0;
  right: 0;
  .block-size(100%; 100%);
  border: none;

  @media (max-width: @tablet-width - 1px) {
    right: -15px;
    min-width: 320px;
    width: calc(100% + 60px);

    &--iframe {
      right: -30px;
    }
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
    right: -25px;
    min-width: 768px;
    width: calc(100% + 100px);

    &--iframe {
      right: -50px;
    }
  }

  @media (min-width: @desktop-width) {
    max-width: 527px;
    min-height: 457px;
  }
}
