.modal__instruction {
  font-size: 15px;
  line-height: 30px;
  color: @black-light;
}

.modal__list {
  line-height: 16px;
  font-weight: 700;
  color: @black-light;
}

.modal__add {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: @white;
  background-color: @green-light;
  border: none;
}
