.page-main__guide {
  padding-top: 5px;
  .text(13px; 24px);
  color: @black-light;

  @media (min-width: @tablet-width) {
    padding-top: 38px;
    .text(17px; 30px);
  }
}

.page-main__cards {
  list-style: none;
}
