.page-main__guide {
  padding-top: 5px;
  .text(13px; 24px);
  color: @black-light;

  @media (min-width: @tablet-width) {
    margin-top: 50px;
    .text(17px; 30px);
  }

  @media (min-width: @desktop-width) {
    max-width: 700px;
    margin: 98px auto 0 auto;
  }
}

.page-main__cards {
  margin: 0 auto;
  list-style: none;
}
