.video-box__heading {
  font-size: 17px;
  line-height: 24px;
}

.video-box__description {
  font-size: 13px;
  line-height: 24px;
  color: @black-light;
}

.video-box__button {
  line-height: 16px;
}
