// color
@white: #ffffff;

@black: #000000;
@black-light: #444444;

@grey-light: #f1f1f1;

@green-light: #63d1bb;
@green-dark: #56c3b2;

@color-email-line: #62d1ba;
@color-card-line: #ececec;

// font
@font-family: "Open Sans", "Arial", sans-serif;
